*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #A78768;
  color: white;
}

h1{
  font-size: 40px;
  padding-bottom: 70px;
  padding-top: 100px;
  line-height: 120%;
  text-align: center;
}
.container{
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 1200px;
  padding-top: 107px;
  margin: 0 auto;
}

.box{
  text-align: center;
  width: 320px;
}

img{
  width: 47px;
  height: 47px;

}

p{
  font-size: 19px;
  text-align: center;
}

.text{
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.container-2{
  width: 930px;
  height: 410px;
  margin: 0 auto ;
  padding-top: 10px;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 50px;
}

.big-box{
  width: 700px;
  height: 300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 15px;
}

.box-input{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input{
  padding: 30px;
  width: 298px;
  height: 63px;
  border: 0.5px solid #B6B6B6;
}

.text-area{
  width: 298px;
  height: 215px;
  padding: 35px;
  border: 0.5px solid #B6B6B6;
}

.button{
  width: 650px;
  height: 59px;
  background-color: #b99674;
  margin-left: 140px;
  color: #fff;
  border: none;
  border-radius: 8px;
  transition: all 2s ease;
}

.button:hover{
  background-color: #fff;
  color: red;
  border-radius: 8px;
  border: 3px solid red;
  font-size: 35px;
  font-family: 'Pacifico', cursive;
}